---
import Layout from "../layouts/Layout.astro";
import Secondaryhero from "../components/secondaryhero.astro";
import Dropdown from "../components/dropdown.astro";
import "./css/general.css";
---

<body>
  <header>
    <Layout />
    <Secondaryhero title="FAQ" />
  </header>

  <main>
    <Dropdown
      question="Er der tøj i alle størrelser?"
      text="Ja, vi har tøj i alle størrelser, og vi lægger stor vægt på at dele-tøjet matcher forskellige størrelser, smag og stilarter. Cirka 70% af tøjet kommer fra vores medlemmer, hvilket betyder, at der er en bred vifte af personlige stilarter repræsenteret. For at sikre, at vi har noget til alle, supplerer vi med 30% af tøjet, så der altid er et godt udvalg i størrelser fra XS til XL, og noget for enhver smag. Jo flere medlemmer vi får, jo større variation bliver der. Når du melder dig ind i Another Closet, er du med til at skabe en tøjkultur, der omfavner mangfoldighed og inklusion, så alle kan finde noget, der passer til netop deres stil og behov."
    />
    <Dropdown
      question="Hvilken slags tøj kan man låne?"
      text="I vores garderober finder du et stort udvalg af tøj, fra afslappet hverdagstøj til festtøj - fra mange forskellige brands - alt fra Ganni, Stine Goya, Bitte Kai Rand, Marc Jacobs, Gestuz, H&M, Arket osv. Vi har medlemmer i alle aldre og størrelser, så der er noget for enhver smag! Ønsket er, at give nyt liv til tøj, der ellers ikke bliver brugt. Derfor er alt tøj velkomment, så længe det er i god stand. Vi bygger vores tøjfællesskab på tillid og garderoberne har altid flotte items af god kvalitet."
    />
    <Dropdown
      question="Hvad er kravene til tøjet, jeg kommer med?"
      text="Alt tøj er velkomment, uanset om det er en elegant festkjole eller mere afslappet hverdagstøj. Mange af os har et fejlkøb eller to liggende – måske noget, vi troede, vi ville bruge, men som ikke rigtig passede ind i vores stil, eller noget, vi er vokset fra eller bare blevet trætte af. Det, der ikke længere fungerer for dig, kan være guld for andre! Vores mål er at skabe en cirkulær garderobe, hvor det tøj, der ikke længere bliver brugt, kan få nyt liv hos andre medlemmer. Så længe tøjet er i god stand, er alt velkomment. Det er en fantastisk måde at rydde op i skabet på og samtidig give andre mulighed for at finde noget, de elsker."
    />
    <Dropdown
      question="Kan jeg frit vælge, hvad jeg vil låne?"
      text="Ja, som medlem har du frihed til at vælge, lige hvad du vil låne! Hver måned kan du låne op til 3 stykker tøj, så du kan sammensætte din garderobe, som det passer dig. Vi ønsker at give dig tilfredsheden ved at få noget “nyt” og til at udtrykke din stil, uden at købe nyt. Vores udvalg dækker en bred vifte af items, så du altid kan finde noget, der føles rigtigt for dig. Det er en sjov og bæredygtig måde at forny din garderobe på, men også udforske farver, mønstre og styles, uden at skulle investere store penge i det!"
    />
    <Dropdown
      question="Får jeg mit eget udlånte tøj tilbage igen?"
      text="Ja, det gør du! Når du melder dig ind i Another Closet, afleverer du 3 stykker tøj, som går ind i vores fællesgarderobe og cirkuleres. Disse stykker tøj tilhører stadig dig, og du har mulighed for at få dem tilbage, når du ønsker det og bytte dem ud med noget andet du ønsker at låne ud. Når du beslutter dig for at melde dig ud af Another Closet, får du naturligvis dit tøj tilbage. Så du kan altid føle dig tryg ved, at dit tøj er i gode hænder, mens du nyder fordelene ved at være medlem."
    />
    <Dropdown
      question="Hvad hvis tøjet går i stykker?"
      text="Det er heldigvis meget sjældent, at et stykke tøj ikke kan repareres og fortsat bruges. Derfor afsætter vi 10 kr. af dit abonnement til vedligeholdelse og reparationer. Skulle uheldet være ude, finder vi altid en løsning mellem de involverede parter og i sidste ende dækker Another Closet tabet, hvis det er nødvendigt. Another Closet fastsætter tabet på baggrund af en vurdering af tøjets værdi på gensalgsmarkedet. Som udgangspunkt vil erstatningsværdien være på maksimalt 500 kr.Har du et stykke tøj, der er uerstatteligt, skal du ikke låne det ud."
    />
    <Dropdown
      question="Hvad med vask?"
      text="Du vasker selv det tøj, du låner, og det hjælper os med at holde prisen nede, samtidig med at vi sparer vand, CO2 og penge. Ved at vaske tøjet derhjemme undgår vi unødvendig transport og industriel vask, hvilket gør hele processen mere bæredygtig. Følg altid de vaskeanvisninger, der står ved tøjet på anothercloset.dk. Brug vaskemiddel til henholdsvis farvet og hvidt tøj, samt specialsæbe til uld og silke. Vi anbefaler sæbe uden parfume, og du bør undgå skyllemiddel. Noget tøj skal vaskes ved 30 grader, mens andet kræver rensning, rensning står Another Closet for. Er du i tvivl, så aflever tøjet uvasket til os, så sørger vi for resten. No problem!"
    />
    <Dropdown
      question="Hvor ofte er der saloner?"
      text="Vi afholder saloner 10 gange om året i forskellige danske byer. Som medlem af Another Closet kan du deltage i salonerne og låne 3 stykker tøj med hjem hver gang. Du kan altid finde de kommende salondatoer på vores hjemmeside."
    />
    <Dropdown
      question="Hvad hvis der ikke er en garderobesalon tæt på, hvor jeg bor?"
      text="Bare rolig! Vi udvider løbende til nye byer, så der er stor chance for, at vi snart er tættere på dig. Hold dig opdateret her, så du kan være blandt de første der får besked, når vi åbner i dit lokalområde."
    />
    <Dropdown
      question="Hvad hvis jeg ikke kan komme til en salon?"
      text="Det er helt naturligt, at du ikke kan deltage i alle saloner, og det er selvfølgelig helt i orden. Har du ikke mulighed for at komme til en salon, så beholder du blot tøjet en ekstra måned, og bytter det til næste salon. Er du tilknyttet garderoben i København er der altid åbent for at komme forbi mellem kl 10.00 og 17.00 og bytte tøjet. Er du tilknyttet garderoben i Roskilde har du mulighed for at lave en aftale på mail eller instagram og besøge dit lokale klædeskab og bytte dit tøj der. Vær dog opmærksom på, at udvalget vil være mindre end til salonerne, så vi anbefaler at prioritere salonerne for at få det bedste udvalg."
    />
    <Dropdown
      question="Hvor mange deltager typisk i en salon?"
      text="Vi er typisk mellem 15 og 30 mennesker til hver salon. Nogle medlemmer bliver i et par timer for at hygge og prøve tøj, mens andre kun kigger forbi for en hurtig tøjbytning. Begge dele er helt okay – du kan tilpasse det, som det passer dig bedst!"
    />
    <Dropdown question="Hvor længe binder man sig?" text="Du binder dig ikke til noget. Du kan opsige dit abonnement, lige når du vil, og det gælder indtil udgangen af den måned, du opsiger det." />
    <Dropdown
      question="Hvordan opsiger jeg mit abonnement?"
      text="Du kan opsige dit abonnement, når som helst du ønsker det. Du opsiger selv dit medlemskab inde på din profil på anothercloset.dk. Husk også at sende en e-mail til hej@anothercloset.dk med besked om, at du ønsker at opsige dit medlemskab, og så vi kan aftale, hvornår du afleverer det lånte tøj og får dit eget tilbage."
    />
    <Dropdown question="Kan jeg holde pause med at betale i perioder?" text="Ja, altid - skal du for eksempel studere i udlandet i en periode, så skriv til os på hej@anothercloset.dk" />
  </main>
  <footer></footer>
</body>

<style>
  main {
    margin: 40px 0px 40px 0px;
  }
</style>
