---
import Nav from "../components/nav.astro";
import "./css/general.css";
import Layout from "../layouts/Layout.astro";
import ForsideHero from "../components/forsidehero.astro";
import Banner from "../components/banner.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<body>
  <header>
    <Layout />
    <ForsideHero />
  </header>
  <main>
    <Banner />

    <footer></footer>
  </main>
</body>
