---
import Nav from "../components/nav.astro";
import "./css/general.css";
import Layout from "../layouts/Layout.astro";
import ForsideHero from "../components/forsidehero.astro";
import Banner from "../components/banner.astro";
import Section1 from "../components/section1.astro";
import Section2 from "../components/section2.astro";
import Section3 from "../components/section3.astro";
import Section4 from "../components/section4.astro";
import Section5 from "../components/section5.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<body>
  <Layout>
    <header>
      <ForsideHero />
    </header>
    <main>
      <Banner />
      <Section1 />
      <Section2 />
      <Section3 />
      <Banner />
      <Section4 />
      <Section5 />
    </main>
    <footer></footer>
  </Layout>
</body>
