---
import Layout from "../layouts/Layout.astro";
import Secondaryhero from "../components/secondaryhero.astro";
import Locationinfo from "../components/locationinfo.astro";
import "./css/general.css";
---

<body>
  <header>
    <Layout />
    <Secondaryhero title="Nørrebro" />
  </header>
  <main>
    <Locationinfo />
  </main>
  <footer></footer>
</body>
