---
import Layout from "../layouts/Layout.astro";
import Secondaryhero from "../components/secondaryhero.astro";
import "./css/general.css";
---

<header>
  <Layout />
</header>
<body>
  <Secondaryhero title="Nørrebro" />
</body>
<footer></footer>
