---
import Layout from "../layouts/Layout.astro";
import Secondaryhero from "../components/secondaryhero.astro";
import Locationinfo from "../components/locationinfo.astro";
import Banner from "../components/banner.astro";
import "../../css/general.css";
---

<body>
  <Layout>
    <header>
      <Secondaryhero title="Nørrebro" />
    </header>
    <main>
      <Locationinfo />
    </main>
    <footer></footer>
  </Layout>
</body>
