---
import Layout from "../layouts/Layout.astro";
import Secondaryhero from "../components/secondaryhero.astro";
import "./css/general.css";
---

<body>
  <Layout>
    <header><Secondaryhero title="Om os" /></header>
  </Layout>
</body>
