---
import Layout from "../layouts/Layout.astro";
import Secondaryhero from "../components/secondaryhero.astro";
import "/css/general.css";
---

<body>
  <Layout>
    <header><Secondaryhero title="Om os" /></header>

    <main>
      <section class="sectioncolor">
        <div class="margin">
          <h2>Vores mission</h2>
          <p>
            Vi gør det nemt, billigt og sjovt at skabe et sundere og mere klimavenligt tøjforbrug - én kjole ad gangen. Tøjindustrien er i dag en af verdens mest forurenende. Den belaster klimaet, slider på vores psyke og økonomi - og udnytter
            mennesker globalt.
          </p>
          <p>Alligevel køber vi mere tøj end nogensinde før - meget af det ender ubrugt bagerst i skabet. Det kan vi gøre bedre. Det skal vi gøre bedre.</p>
        </div>
      </section>

      <section class="section2_4">
        <div class="margin">
          <h2>Mød grundlæggeren: Tina Werborg</h2>
          <p>Tina Werborg har i næsten 10 år kæmpet for at ændre måden, vi forbruger tøj på. Hun elsker tøj - men er imod det overforbrug og de konsekvenser, modebranchen medfører.</p>
          <p>I 2021 udgav hun "Garderobemanifestet 10 gode grunde til at genoverveje dit næste tøjkøb", hvor hun giver praktiske råd</p>
        </div>
      </section>

      <section class="sectioncolor">
        <div class="margin">
          <h2>Hvad er Another Closet?</h2>
          <p>Et fællesskab og en klimavenlig måde at gå i tøj på. Another Closet blev stiftet i 2020 og bygger på et enkelt, men kraftfuldt princip: dele frem for eje.</p>
          <p>Alligevel køber vi mere tøj end nogensinde før - meget af det ender ubrugt bagerst i skabet. Det kan vi gøre bedre. Det skal vi gøre bedre.</p>
          <p>Som medlem kan du: forny din garderobe hver måned, bytte tøj i lokale tøj-saloner & blive en del af et fællesskab, der hylder stil og bæredygtighed</p>
          <p>Vi fremmer tøjglæde og giver dig muligheden for at tage et standpunkt mod overforbrug og spild.</p>
        </div>
      </section>

      <section class="section2_4">
        <div class="margin">
          <h2>Vil du vide mere?</h2>
          <h3>Podcast: Tøjkrisen</h3>
          <p>Lyt til vores podcast med Emilie Lilja og Tise – en kritisk og inspirerende samtale om tøjforbrug.</p>
          <h3>Læs: Garderobemanifestet</h3>
          <p>Tilgængelig som bog og lydbog via: Biblioteket, Saxo.com & Din foretrukne lydbogsplatform</p>
          <h3>Presseomtale</h3>
          <p>Læs om Another Closet i Natur & Miljø: "Iværksætter vil tage et opgør med vores enorme forbrug – uden at gå på kompromis med kærligheden til tøj"</p>
        </div>
      </section>
    </main>
  </Layout>
</body>

<style>
  p {
    max-width: 75ch;
  }

  .sectioncolor {
    margin-top: -10px;
  }

  .section2_4 {
    margin: 70px 0 90px 0;
  }

  h3 {
    font-size: 25px;
    margin-bottom: -10px;
  }
</style>
