---
import Secondaryhero from "../components/secondaryhero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <header>
    <Secondaryhero title="Singe" />
  </header>
  <main>
    <p>Content for Singe page goes here.</p>
  </main>
  <footer></footer></Layout
>
