---
import Productlist from "./productlist.astro";
import Banner from "./banner.astro";

// Anslut till Supabase

// Hämta produkter
---

<section class="openinghours margin">
  <h2>Velkommen til tøjfællesskabet på Nørrebro</h2>
  <div class="info">
    <p>Onsdag d. 20. august kl. 17.00-20.00</p>
    <p>Torsdag d. 25. september kl. 17.00-20.00</p>
    <p>Torsdag d. 29. oktober kl. 17.00-20.00</p>
  </div>
  <div>
    <p>Guldbergsgade 29 D, gennem butikken Res Res</p>
    <p>Åben for selvbetjening for medlemmer i vores showrrom hver dag mellem kl. 11 - 18.</p>
  </div>
</section>
<Banner />

<section class="margin">
  <h2>Garderoben på Nørrebro</h2>

  <div class="cardsection">
    <Productlist />
  </div>
</section>
<style>
  .openinghours {
    max-width: 1000px;
    margin-bottom: 80px;
  }
  .cardsection {
    margin-top: 20px;
  }

  div {
    margin-top: 40px;
  }

  p {
    margin-bottom: -0.8em;
  }

  h2 {
    margin-bottom: -50px;
  }

  .info {
    margin-top: 80px;
  }
</style>
