---

---

<nav>
  <div class="nav">
    <a href="/"><h2>Another Closet</h2></a>
    <button class="burger" id="burgerBtn">&#9776;</button>

    <div class="nav-menu" id="menu">
      <ul>
        <li><a href="/omos">Om os</a></li>
        <li><a href="/faq">Faq</a></li>
        <li><a href="/location">Garderoben</a></li>
        <li><a>Bliv medlem</a></li>
        <li><a>Log ind</a></li>
      </ul>
      <img src="/src/assets/anotherlogo.svg" alt="Logo" class="logoimg" />
    </div>
  </div>

  <script type="module" src="/burgermenu.js"></script>
</nav>

<style>
  .nav a {
    text-decoration: none;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1512px;
    padding: 0px 20px 0px 20px;
  }

  .burger {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    display: block;
  }

  .nav-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-menu ul {
    list-style: none;
    padding-top: 30px;
    margin-left: -35px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  .nav-menu a {
    font-size: 1.2rem;
    text-decoration: none;
    font-style: normal;
    cursor: pointer;
  }

  .nav-menu a:hover {
    text-decoration: underline;
  }

  .logoimg {
    width: 100px;
    padding-bottom: 40px;
  }

  h2 {
    font-size: 30px;
  }

  /* ----------- COMPUTER ----------- */

  @media (min-width: 700px) {
    .burger {
      display: none;
    }

    .nav {
      flex-wrap: nowrap;
    }

    .nav-menu {
      display: flex !important;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      width: auto;
      gap: 2rem;
    }

    .nav-menu ul {
      flex-direction: row;
      gap: 2rem;
      padding: 0;
    }

    .logoimg {
      display: none;
    }
  }
</style>
