---
const { title } = Astro.props;
---

<section>
  <div class="logo">
    <img src="/src/assets/anotherlogo.svg" alt="secondary hero" />
  </div>
  <div>
    <h2>{title}</h2>
  </div>
  <div>
    <img src="/src/assets/secondaryhero.png" alt="" />
  </div>
</section>

<style>
  .logo {
    display: flex;
    justify-content: center;
    padding-top: 3vw;
  }

  .logo img {
    width: 16vw;
  }

  h2 {
    font-size: 40px;
    text-align: center;
    margin: 20px 0;
  }

  @media (min-width: 768px) {
    .logo img {
      width: 12vw;
    }

    h2 {
      font-size: 75px;
    }
  }
</style>
