---
const { title } = Astro.props;
---

<section>
  <div class="logo">
    <img src="/img/anotherlogo.svg" alt="secondary hero" loading="lazy" />
  </div>
  <div>
    <h1>{title}</h1>
  </div>
  <div>
    <img src="/img/secondaryhero.webp" alt="heroimg" loading="lazy" />
  </div>
</section>

<style>
  .logo {
    display: flex;
    justify-content: center;
    padding-top: 3vw;
  }

  .logo img {
    width: 16vw;
  }

  h2 {
    font-size: 40px;
    text-align: center;
    margin: 20px 0;
  }

  @media (min-width: 768px) {
    .logo img {
      width: 12vw;
    }

    h2 {
      font-size: 75px;
    }
  }
</style>
