:root {
  --color-primary: #0c3226;
  --color-secondary: #f6f6f6;
  --font-primary: Arial, sans-serif;
  --font-secondary: "Helvetica Neue", Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
a {
  color: var(--color-primary);
  font-family: var(--font-primary);
  font-style: italic;
  font-weight: 100;
  letter-spacing: -0.05em;
}

p {
  font-family: var(--font-secondary);
  font-weight: regular;
  font-size: 17px;
  letter-spacing: -0.05em;
}
body {
  max-width: 1512px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.sectioncolor {
  background-color: var(--color-secondary);
  padding: 30px 0 70px 0;
  margin: 0;
}

.margin {
  margin-left: 5vw;
  margin-right: 5vw;
}

h2,
h1 {
  font-size: 40px;
}

h5 {
  font-size: 25px;
  font-style: normal;
}

h3 {
  font-size: 25px;
}

.grid_1-1 {
  grid-template-columns: 1fr;
}

h1 {
  text-align: center;
}

img {
  max-width: 100%;
}
@media (min-width: 768px) {
  h2,
  h1 {
    font-size: 50px;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: start;
    margin-top: 40px;
    max-width: 1050px;
    margin: 0 auto;
  }

  h3 {
    font-size: 30px;
  }

  p {
    font-size: 20px;
  }
}
