---
import Footer from "../components/footer.astro";
import Nav from "../components/nav.astro";
import "../css/general.css";
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>Another Closet</title>
  </head>
  <body>
    <header>
      <Nav />
    </header>
    <slot />
    <footer>
      <Footer />
    </footer>
  </body>
</html>

<style>
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
